/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* color: white; */
}

button {
    margin-right: 2%;
    margin-bottom: 2%;
}

.movieImg {
    width: 25%;
    min-width: 200px;
    height: auto;
    
  }